$bgDefault: #e74c3c;
$bgHighlight: #c0392b;
$colDefault: #ecf0f1;
$colHover: #ffbbbc;
$blue: #1976d2;
$lightBlue: #489aea;
$white: #fff;

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 20px;
  z-index: 190;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  box-shadow: 0 6px 25px 0 rgb(38 50 56 / 20%);
  height: 65px;

  .brand {
    position: relative;
    color: $white;
    font-size: 1.5rem;
    padding-left: 20px;
    text-decoration: none;

    h4 {
      width: 100%;
    }
  }


  .header-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .header-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;

      a {
        display: inline-block;
        color: $blue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  }
}

.header-sidebar {
    position: relative;

  .header {
    background: linear-gradient(to bottom right, $blue, $lightBlue);
    width: 300px;

    position: fixed;
    left: 0;
    top: 0;
    //z-index: 1400;
    z-index: 191;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}