<div class="header-sidebar">
    <div class="header">
        <div class="header-left">
            <a class="brand" href="/">
                <h4>{{ app_name_abbr }}</h4>
            </a>
        </div>
    </div>
</div>