{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <p>These are your favorites Cities saved!</p>

    {% for cityInfo in citiesInfo %}
        <div class="card-box">
            <div class="card-box__header">
                <div class="card-card-box__header__title">
                    <h4>{{ cityInfo.name }} </h4>
                </div>
            </div>
            <div class="card-box__content">
                <!-- item -->
                <div class="card-box__content__item">
                    <div class="card-box__content__item__bottom">
                        <div class="left">
                            <span>Weather:</span>
                            <p>{{ cityInfo.main.temp|temperature }}</p>
                        </div>
                        <div class="right">
                            <span>Humidity:</span>
                            <p>{{ cityInfo.main.humidity|humidity }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
            </div>
        </div>
    {% endfor %}
{% endblock %}
